<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymou
    <link rel="stylesheet" type="text/css" href="footer.css" />

  <title>My beautiful page</title>



</head>
<body>



  <header>
    <nav>
      <div class="container">
        <div class="profile-pic">
          <image class="purple-profile-pic" src="https://pbs.twimg.com/profile_images/415693695510253568/KTa9tHpY_bigger.jpeg" alt="Jesus">
        </div>
        <div class="deux">
          <div class="profile">
            <image class="purple-profile-pic" src="https://s3.ap-south-1.amazonaws.com/crypto-exchange/coins-sm/ether.png" alt="Smiling woman with purple hair">
          </div>

        <ul>
          <li><a href="#city">about</a></li>
          <li><a href="#diet">homepage</a></li>
          <li><a href="#hair">link</a></li>
        </ul>
      </div>

    </nav>
  </header>


<div class="banner">
  <div class="banner-text">
    <h1></h1>
    <center><h3></h3></center>
    <h6></h6>
  </div>
</div>

<div id="wrapper">

  <section>
      <div class="btn-container">
          <input type="submit" value="THERE IS NO SPOON" id="button-blue"/>
          <div class="ease"></div>
      </div>
  </section>

</div><!-- wrapper -->
<br>
<br>
<br>
<br>

<center>
<div>
  <P>Everything has been manufactured to create an emotional response out of your
     Everything that you think about humanity has been crafted and placed into your brain
     Everything that you think about economics, politics, religion, has been crafted and placed into your brain
     So as we sit and we look for solutions for the world as we see it, you'll never find an answer
     Because the world as we see it is not the world as we exist in, it so far beyond what we think of as real</p>
</div>
</center>

<div class="hover13column">

<div class="hover13 column">
  <div>
    <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic01.jpg" /></figure>
    <span>Hello</span>
  </div>
  <div>
    <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic02.jpg" /></figure>
    <span>How</span>
  </div>
  <div>
    <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic03.jpg" /></figure>
    <span>are</span>
  </div>
  <div>
    <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic01.jpg" /></figure>
    <span>you</span>
  </div>
</div>

</div>
  <footer>
    <footer>
      <ul>
        <li>
          <a href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </li>
        <li>
          <a href="https://fr.linkedin.com/">
            <i class="fab fa-linkedin-in"></i> Linkedin
          </a>
        </li>
        <li>
          <a href="https://twitter.com/?lang=fr">
            <i class="fab fa-twitter"></i> Twitter
          </a>
        </li>
      </ul>
    </footer>  </footer>


</body>
</html>
